<div class="container pt-3">

<h1>TODO APP</h1>

  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">

    <label for="todoinput">Todo:</label>
    <input type="text" id="todoinput" formControlName="todo" class="form-control">
    <div class="mb-5">
    <button type="submit" class="btn btn-success float-end" [disabled]="!todoForm.valid">Add!</button>
    </div>
  </form>

  <h2>My todos:</h2>

  <div *ngIf="todos.length === 0" class="text-center">
    brak todos
  </div>

  <ul class="list-group">
    <li *ngFor="let todo of todos" class="list-group-item">
      {{ todo }}
    </li>
  </ul>

</div>
